/*General color*/
$colors: (
  primary: #c8c3c3,
  close: white,
  panel:#792fc5,
  mark-panel: rgba(0, 0, 0, 0.6)
);

$width-square: (
  default: 30%,
  big:35%,
  small:20%
);

$breakpoints: (
  m-xs: 575px,
  xs: 576px,
  m-sm: 767px,
  sm: 768px,
  m-md: 991px,
  md: 992px,
  m-lg: 1199px,
  lg: 1200px
) !default;